<%-include('_header')%>
<%-include('_navbar')%>

<body>
    
    <section class="my-5 py-5">
        <div class="container">
            
            <div class="" id="valid-error" hidden >
                <div class="card w-50 my-3 mx-auto border-danger bg-danger">
                    <div class="card-body">
                        <div class="align-middle">
                            <i class="material-icons text-light">
                                info
                            </i> 
                            <span class="text-light " id="login-txt">
                               Images only! (Jpeg,jpg,png)
                            </span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="card   w-50 mx-auto shadow">
                <form  method="post" onsubmit="addValidation(); return false;" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="fs-4">
                            Add Validation Images
                        </div>
                        <div class="card my-3 border-light shadow-sm text-muted w-50 mx-auto p-2">
                            The image you will upload will be used to validate your fundraiser.
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control" id="valid-file" accept="image/*"  multiple>
                        </div>
                        <input type="submit" value="Proceed" class="btn float-end my-2">
                    </div>
                </form>
            </div>
        </div>
    </section>


    <%-include('_footer')%>