<%- include('_header');%>
<%- include('_navbar');%>

<body class="">



    <div class="d-flex flex-row shadow">
        <div class="cover">
            <img src="./cover1.jpg " alt="" class="o-60 img-fluid text-none">
            <div class="text">Lets make kindness contagious.</div>
            <a href="./fundraiser" class="view text-light bg-violet btn btn-sm">View Fundraisers</a>
        </div>
        <div class="cover">
            <img src="./cover2.jpg " alt="" class="o-60 img-fluid text-none">
            <a href="./forward" class="view text-light bg-violet btn btn-sm">View Forwards</a>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="fs-3z">
                In Pay It Forward, you can :
            </div>
            <div class="d-flex flex-row justify-content-evenly my-3">
                <div class="p-3">
                    <span class="circle mx-5 bg-pink border-light text-light">
                        1
                    </span>
                    <div class="d-flex flex-column mt-3">
                        <div class="fs-6">Start a Fundraiser</div>
                        <ul class="">
                            <li class="my-3">Get Verified</li>
                            <li class="my-3">Tell us your goal</li>
                            <li class="my-3">Start Sharing</li>
                        </ul>
                    </div>
                </div>
                <div class="p-3">
                    <span class="circle mx-5 bg-pink border-light text-light">
                        2
                    </span>

                    <div class="d-flex flex-column mt-3">
                        <div class="fs-6">Donate to Fundraiser</div>
                        <ul class="">
                            <li class="my-3">Select Fundraiser</li>
                            <li class="my-3">Select method of Payment</li>
                            <li class="my-3">Fill Sharing</li>
                        </ul>
                    </div>
                </div>
                <div class="p-3">
                    <span class="circle mx-5 bg-pink border-light text-light">
                        3
                    </span>
                    <div class="d-flex flex-column mt-3">
                        <div class="fs-6">Share Fundraiser</div>
                        <ul class="">
                            <li class="my-3">Share to Email</li>
                            <li class="my-3">Share to Social Media</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="about my-5 py-5">
        <div class="container">
            <div class="fs-3 mb-4">
                About Pay it Forward
            </div>
            <p class="text-break lh-lg">
                For us giving to others without expecting something in return and forwarding the kindness receive is the whole
                concept of Pay It Forward.

                Pay it Forward was started because of our group's passion, we believe in the beauty of gift giving and wish to
                help others who are in need.

                Using the skills and knowledge we learned at our school Institute of Technology, we made it our personal mission
                to turn our dream into a reality.
            </p>
        </div>
    </section>



    <%- include('_footer');%>