
:root{
    --darkblue: #0b1354;
    --blue: #165BAA;
    --violet:#A155B9;
    --pink:#F765A3;
}
.text-light{
    color: #FFF !important;
}
.bg-darkblue{
    background-color: var(--darkblue) !important;
}
.bg-blue{
    background-color: var(--blue) !important;
}
.bg-violet{
    background-color: var(--violet) !important;
}
.bg-pink{
    background-color: var(--pink) !important;
}
.sb-hide-x{
 overflow-x: hidden !important;
}
.transparent{
    background-color: transparent;
}
.o-60{
    opacity: 60%;
}
.cover{
    position: relative;
}
.cover img{
    height: 600px;
    width: 1000px;
}
.cover .view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 600%);
    -ms-transform: translate(-50%, 600%);
    color: white;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.cover .text{
    position: absolute;
    top: 30%;
    left: 30%;
    /* transform: translate(-100%, 50%);
    -ms-transform: translate(-100%, 50%); */
    color: black;
    font-size: 55px;
    padding: 8px 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    background: linear-gradient(rgba(196,196,196,.2), rgba(196,196,196,.2));
}

.md-30{
    font-size: 4rem !important;
}
.md-20{
    font-size: 3rem !important;
}
.text-none{
    text-decoration: none !important;
}
.circle{
    background-color: whitesmoke;
    padding: 5px 18px;
    border: solid 1px black;
    border-radius: 50%;
    font-size: 2rem;
}

textarea{
    height:305px !important;
}  
.tab {
display: none;
}
  
 